* {
  box-sizing: border-box;
}

/* Login and Register */
.auth-container {
  background: #76b852 !important;
  min-height: 100vh;
  display: flex;
}

.form-container,
.vertical-center {
  width: 100%;
  height: 100%;
}

.vertical-center {
  margin: auto;
}

.inner-block {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.vertical-center .form-control:focus {
  border-color: #2554ff;
  box-shadow: none;
}

.vertical-center h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

label {
  font-weight: bold;
}

.warning {
  text-align: center;
  font-size: 13px;
  padding-top: 10px;
  color: red;
  margin: 0;
}

.link {
  text-align: center;
  font-size: 13px;
  padding-top: 10px;
  color: #7a7a7a;
  margin: 0;
}

.link span {
  color: #2554ff;
}

/* Header */
.header {
  height: 100px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.274);
}

/* Cart List */
.cart-list-empty {
  border: 1px solid #cecece;
  text-align: center;
}

.cart-list-empty img {
  margin-top: 30px;
}

.cart-list-empty p {
  font-family: 'Airbnb Cereal App', Helvetica, Arial;
  font-size: 30px;
  font-weight: bold;
}

.cart-list-empty span {
  font-size: 20px;
  color: #cecece !important;
}

.cart-list {
  border: 1px solid #cecece;
  position: relative;
}

.cart-items {
  margin: 20px auto;
}

.name-cart,
.price-cart,
.checkout p {
  font-size: 20px;
  font-weight: bold;
}

.cart-overflow {
  max-height: 290px;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.checkout {
  margin-top: 50px;
}

.checkout span {
  font-size: 16px;
  font-weight: normal;
}

.plus-minus {
  width: 40px;
  height: 40px;
  background: rgba(130, 222, 58, 0.2);
  border: 1px solid #82de3a;
  box-sizing: border-box;
  color: #82de3a;
  border-radius: 0;
  text-align: center;
}

.qty {
  width: 40px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #82de3a;
  box-sizing: border-box;
  color: #82de3a;
  text-align: center;
}

.checkout-btn,
.cancel-btn {
  width: 100%;
  height: 61px;
  margin: 10px 20px;
  border: 0;
  border-radius: 0;
  font-size: 25px;
}

/* Modal */
.modal-body p {
  font-weight: bold;
}

.modal-body .checkout-btn,
.modal-body .cancel-btn {
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
}

button {
  /* background: #57cad5; */
  border: 0;
}

/* Statistic */
.statistic-container {
  background: rgba(190, 195, 202, 0.3);
}

.statistic-content {
  margin: 25px auto;
}

.today-income {
  height: 200px;
  background: linear-gradient(
    278.29deg,
    #fbb2b4 30.05%,
    rgba(255, 143, 178, 0) 133.19%
  );
  filter: drop-shadow(10px 15px 10px rgba(255, 143, 178, 0.25));
  border-radius: 10px;
  display: flex;
  margin-bottom: 20px;
}

.order {
  height: 200px;
  background: linear-gradient(
    278.29deg,
    #29dfff 30.05%,
    rgba(41, 223, 255, 0) 133.19%
  );
  filter: drop-shadow(10px 15px 10px rgba(41, 223, 255, 0.25));
  border-radius: 10px;
  display: flex;
  margin-bottom: 20px;
}

.year-income {
  height: 200px;
  background: linear-gradient(
    278.29deg,
    #ab84c8 30.05%,
    rgba(241, 201, 236, 0) 133.19%
  );
  filter: drop-shadow(10px 15px 10px rgba(241, 201, 236, 0.25));
  border-radius: 10px;
  display: flex;
  margin-bottom: 20px;
}

.article-container {
  margin: 50px 25px;
}

.article-container p {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 15px;
}

.article-container h3 {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 30px;
}

.article-container .ellipse1 {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: -1;
}

.article-container .ellipse2 {
  position: absolute;
  top: 30px;
  right: 40px;
  z-index: -2;
}

.article-container .ellipse3 {
  position: absolute;
  top: 55px;
  right: 85px;
  z-index: -3;
}

.revenue,
.recent {
  background: #ffffff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 50px auto 0 auto;
}

.chart-container {
  width: 100%;
}

.setting-content {
  background: rgba(190, 195, 202, 0.3);
}

.tab {
  margin: 30px auto;
}

@media (max-width: 320.98px) {
  .container-menu {
    padding: 0 1.3rem;
  }
}

@media (min-width: 321px) and (max-width: 375.98px) {
  .container-menu {
    padding: 0 3rem;
  }
}

@media (min-width: 376px) and (max-width: 575.98px) {
  .container-menu {
    padding: 0 4.5rem;
  }
}

@media (max-width: 480px) {
  .inner-block {
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  .nav-row {
    margin: auto;
  }
  .option input {
    width: 75%;
    margin-right: 10px;
  }

  .name-cart,
  .price-cart,
  .checkout p {
    font-size: 16px;
    margin-bottom: 0;
  }

  .checkout span {
    font-size: 14px;
  }

  .plus-minus {
    width: 35px;
    height: 35px;
    margin-top: 5px;
  }

  .qty {
    width: 35px;
    height: 35px;
    margin-top: 5px;
  }

  .checkout-btn,
  .cancel-btn {
    height: 45px;
    margin: 10px 20px;
    font-size: 20px;
  }
}

@media (min-width: 1023px) and (max-width: 1260px) {
  .name-cart,
  .price-cart,
  .checkout p {
    font-size: 16px;
    margin-bottom: 0;
  }

  .checkout span {
    font-size: 14px;
  }

  .plus-minus {
    width: 35px;
    height: 35px;
    margin-top: 5px;
  }

  .qty {
    width: 35px;
    height: 35px;
    margin-top: 5px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .nav-row {
    margin: auto;
  }
}
